include CHANGELOG.rst
include LICENSE
include quart/py.typed
include README.rst
include setup.cfg
recursive-include artwork *
recursive-include quart *.py
recursive-include tests *.py
recursive-include tests *.cfg
recursive-include tests *.json
recursive-exclude examples *
recursive-exclude compliance *
recursive-exclude docs *
exclude examples
exclude .gitlab-ci.yml
exclude compliance
exclude docs
