[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools", "wheel"]

[tool.black]
line-length = 100
target-version = ["py37"]

[tool.isort]
dont_skip = ["__init__.py"]
combine_as_imports = true
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "quart, tests"
known_third_party = "_pytest, aiofiles, blinker, dotenv, flask, hypercorn, jinja2, pytest, werkzeug"
line_length = 100
multi_line_output = 3
no_lines_before = "LOCALFOLDER"
order_by_type = false
reverse_relative = true
