.container {
  border-radius: 1.5rem;
  max-width: 35rem;
    margin: 5rem auto;
    box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.62), 6px 6px 16px rgba(255, 255, 255, 0.2);
}

.heading {
  font-family: Kalam;
    font-weight: bold;
    font-size: 48px;
    line-height: 77px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #E5E5E5;
    margin: 0;

}

.add-item{
  min-width: 30rem;
  font-family: Courgette;
font-weight: normal;
font-size: 48px;
line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FAFF05 0%, rgba(10, 255, 5, 0.37) 193.27%);
    box-shadow: 0px 0px 20px #FAFF05;
    border: none;
    margin: auto;
}

.item {
  font-family: Kalam;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
  color: #FFFFFF;
  display: inline-block;
  margin: 1.5rem 0 .5rem 2.5rem;
  padding: 1rem;
  min-width: 20rem;
  background: #4D4D4D;
box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.2), inset 4px 4px 10px rgba(0, 0, 0, 0.62);
}

.icon {
  height: 50px;
  position: relative;
  top: 1rem;
  margin-left: .5rem;
}

.icon.trash {
  background: #FF0505;
  box-shadow: 0px 0px 20px #FF0000;
}

.icon.trash:hover {
  background: rgba(255, 5, 5, 0.8);
}

.icon.check {
  background: #0AFF05;
  box-shadow: 0px 0px 20px #0AFF05;
}

.icon.check:hover {
  background: rgba(9, 255, 5, 0.8);
}
