body {
    background: #f5f5f6;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background: #004c40;
    padding: 0.2em;
}

h2 {
    padding: 0.1em;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

.posts {
    display: inline-block;
    text-align: center;
    width: 70%;
}

.posts>div {
    background: white;
    margin: 1em;
}

a {
    color: #f9a825;
}

nav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #00796b;
}

h1>a {
    color: white;
    text-decoration: none;
}

.content {
    text-align: center;
}

.flash {
    background: #48a999;
    margin-top: -1em;
    padding: 0.5em;
}

input[type=submit] {
    background: #f9a825;
    border: 0;
    border-radius: 50%;
    padding: 1.5em;
}
