<!doctype html>
<title>Blog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
<h1><a href="{{ url_for('posts') }}">Blog</a></h1>
<nav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Login</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
</nav>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}
<div class="content">
  {% block content %}
  {% endblock %}
</div>
