<!doctype html>
<html>
  <head>
    <title>Calculator example</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function() {
        var calculate = function(operator) {
          $.ajax({
            type: 'POST',
            url: '/',
            data: JSON.stringify ({
              a: $('input[name="a"]').val(),
              b: $('input[name="b"]').val(),
              operator: operator
            }),
            contentType: "application/json",
            dataType: 'json',
            success: function(data) {$('#result').text(data);}
          });
        }
        $('#add').click(function(event) {calculate('+'); return false;});
        $('#subtract').click(function(event) {calculate('-'); return false;});
        $('#multiply').click(function(event) {calculate('*'); return false;});
        $('#divide').click(function(event) {calculate('/'); return false;});
        $('input[name=a]').focus();
      });
    </script>
  </head>
  <body>
    <p>
      <input type="number" name="a" placeholder="a">
      <input type="number" name="b" placeholder="b">
      <label id="result">?</span>
    </p>
    <p>
      <button id="add">Add a and b</button>
      <button id="subtract">Subtract b from a</button>
      <button id="multiply">Multiply a and b</button>
      <button id="divide">Divide a by b</button>
    </p>
  </body>
</html>
