<!doctype html>
<html>
  <head>
    <title>SSSE example</title>
  </head>
  <body>
    <ul></ul>
    <script type="text/javascript">
      var es = new EventSource('/sse');
      es.onmessage = function (event) {
        var messages_dom = document.getElementsByTagName('ul')[0];
        var message_dom = document.createElement('li');
        var content_dom = document.createTextNode('Received: ' + event.data);
        message_dom.appendChild(content_dom);
        messages_dom.appendChild(message_dom);
      };
    </script>
  </body>
</html>
